pandas>=1.0.0
dbt-core==1.1.2
dbt-snowflake==1.1.0
dbt-postgres==1.1.2
pytest<6.1.0
agate>=1.6,<1.6.4
great_expectations==0.13.43
SQLAlchemy==1.4.27
snowflake-sqlalchemy==1.3.4
sqlfluff==0.8.1
MarkupSafe==2.0.1
nbformat==5.4.0
data-diff>=0.2.5